body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin: 0; 
}


a {
    text-decoration: none;
    color: #e5e7eb;
}

/*Header Items */

.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #1F2937;
padding: 25px 350px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    
}

/*Panel Items*/



/* panel 1 */

.panel-1 {
    background-color: #1F2937;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 200px 350px;
    margin: 0;
    gap: 50px;
}

.hero-img img {
    max-width: 350px;
    flex: 1;
}

.hero-img {
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882F6;
    width: 90px;
    border-radius: 4px;
    border: none;
    color: #e5e7eb;
    padding: 4px;
    font-weight: bold;
}

/*panel 2*/

.panel-2 {
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    max-width: 175px;
    flex: 1;
}

ul {
    display: flex;
    gap: 75px;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.img-txt {
    flex-wrap: wrap;
    max-width: 175px;
    text-align: center;
    font-size: 12px;
    color: #595b61;
}

/* Panel 3 */

.panel-3 {
    background: #E5E7EB;
    padding: 200px 350px;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.quote-author {
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
}

/* Panel 4 */

.panel-4 {
    justify-content: center;
    padding: 100px 0;
}

.call-to-action-box {
    display: flex;
    background-color: #3882F6;
    color: white;
    margin: 200px 400px;
    padding: 50px 130px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    gap: 50px;
}

.call-left {
    flex: 1;
}

.call-to-action {
    font-weight: bold;
    font-size: 20px;
}

.call-text {
    color: rgba(255, 255, 255, 0.719);
}

.sign-up-button button {
    border-style: solid;
    background-color: #3882F6;
    border-color: white;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    padding: 8px 25px;
    font-size: 18px;
}

/*footer*/

.footer {
    background-color:#1F2937;
    text-align: center;
    padding: 25px ;
    color: white;
    font-size: 12px;
}
